# ------------------------------
# Python cache
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# ------------------------------
# Virtual environments
# ------------------------------
venv/
env/
.venv/

# ------------------------------
# Raw Data (VERY IMPORTANT)
# ------------------------------
data/raw/
data/features/

# ------------------------------
# Trained Models
# ------------------------------
models/
*.joblib
*.model

# ------------------------------
# System State Files
# ------------------------------
system_state.json

# ------------------------------
# OS / Editor
# ------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Build / Packaging
# ------------------------------
build/
dist/
*.spec
*.exe